@import '../variables/_mixins';
@include resetStyles;

.portada {
    @media (min-width: 200px){
        width: 100%;
    }

    @media (min-width: 1200px){
        width: 1200px;
    }
}
li img {
    width: 190px;
    height: 190px;
}
body{
    background-color: $main-black;
    display: flex;
    justify-content: center;
    main{
        width: 80%;
        height: 100vh;
        header{
            width: 100%;
            nav{
                width: 100%;
                background-color: $main-black;
                border-bottom: 2px solid $main-grey;
                opacity: .5;
                ul {height: 4rem;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;
                    li {
                        margin: 5px;
                        a{
                            color: $main-white;
                            opacity: 1;
                            &:hover {
                                border: 1px solid $main-white;
                                border-radius: 5px;
                            }
                        }
                    }
                }
            }
            article{
                     background-color: $main-black;
                     opacity: .5;
                        h1 {
                           display: flex;
                            font-size: 65px;
                            color: $main-white;
                            text-align: center;
                            opacity: 1;
                            justify-content: center;
                            align-items: center;
                             @media (max-width: 450px) {
                            font-size:25px ;
                            }
                        }
            }
        }
        section{
                background-color: $main-black;
                margin: 30px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                ul {
                    padding: 5px;
                    display: flex;
                    flex-direction: column;
                    
                    
                    li{ 
                        margin: 5px;
                        display: flex;
                        justify-content: center;
                        p {
                            color: $main-white;
                            text-align: center;
                        }
                        button {
                            border: 1px solid $main-red;
                            border-radius: 5px;
                            background-color: $main-white;
                            color:$main-black;
                            padding: 3px;
                        }
                    }
                }
            }
    }
}
